.ui-title-1,
.ui-title-2,
.ui-title-3,
.ui-title-4,
.ui-title-5,
.ui-text {
  padding: 0 0.4rem;
  transition: 0.4s all ease;
  &:focus {
    background-color: #f3f3f3;
  }
}

.isUppercase {
  text-transform: uppercase;
}
